<html>
  <head>
    <title>Ecommerce</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/viewProducts.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/products/view">Ecommerce</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/products/add"
                  >Add Product <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/products/view"
                  >View Products <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/users/view"
                  >View Users <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/subscribers/view"
                    >View Subscribers <span class="sr-only">(current)</span></a
                  >
                </li>
              <li class="nav-item active">
                <a class="nav-link" href="/orders/view"
                  >View Orders <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/reviews/view"
                  >View Comments <span class="sr-only">(current)</span></a
                >
              </li>
            </ul>
              <a href="/admin/logout"><button   class="btn btn-warning" style="color: white;">Logout</button></a>
            </form>
          </div>
          </nav>