<footer>
  <div class="fromUs">
    <div class="custome-container">
      <div class="fr-Title">For any updates from us</div>
      <div class="us-form">
        <label class="name"
          ><input
            type="text"
            onfocus="this.value == this.defaultValue ? this.value = '' : ''"
            onblur="this.value == ''? this.value =this.defaultValue : ''"
            value="Name"
          /><span class="error-msg">Enter Name</span></label
        >
        <label class="mb"
          ><input
            type="text"
            onfocus="this.value == this.defaultValue ? this.value = '' : ''"
            onblur="this.value == ''? this.value =this.defaultValue : ''"
            value="Mobile number"
          /><span class="error-msg">Enter Mobile number</span></label
        >
        <div class="subscribe"><a href="#">Subscribe Now</a></div>
      </div>
    </div>
  </div>
  <div class="footer-main">
    <div class="custome-container">
      <div class="foot-box">
        <div class="f-heading"><a href="javascript:;">Television</a></div>
        <ul>
          <li><a href="#">Sony</a></li>
          <li><a href="#">Samsung</a></li>
          <li><a href="#">Mi</a></li>
          <li><a href="#">LG</a></li>
          <li><a href="#">ONIDA</a></li>
        </ul>
      </div>
      <div class="foot-box">
        <div class="f-heading"><a href="javascript:;">Mobiles</a></div>
        <ul>
          <li><a href="#">Apple</a></li>
          <li><a href="#">Mi</a></li>
          <li><a href="#">Samsung</a></li>
          <li><a href="#">Oppo</a></li>
          <li><a href="#">Vivo</a></li>
        </ul>
      </div>
      <div class="foot-box">
        <div class="f-heading"><a href="javascript:;">Laptops</a></div>
        <ul>
          <li><a href="#">Apple</a></li>
          <li><a href="#">Lenovo</a></li>
          <li><a href="#">Hp</a></li>
          <li><a href="#">ASUS</a></li>
          <li><a href="#">DELL</a></li>
        </ul>
      </div>
      <div class="foot-box">
        <div class="f-heading"><a href="javascript:;">Sound</a></div>
        <ul>
          <li><a href="#">JBL</a></li>
          <li><a href="#">Sony</a></li>
          <li><a href="#">Samsung</a></li>
        </ul>
      </div>
      <div class="foot-box">
        <div class="f-heading"><a href="javascript:;">Refrigerators</a></div>
        <ul>
          <li><a href="#">Whirlpool</a></li>
          <li><a href="#">LG</a></li>
          <li><a href="#">Godrej</a></li>
          <li><a href="#">Samsung</a></li>
          <li><a href="#">Panasonic</a></li>
        </ul>
      </div>

      <div class="foot-box">
        <div class="f-heading"><a href="javascript:;">OTHERS</a></div>
        <ul>
          <li><a href="#">ACs</a></li>
          <li><a href="#">Cameras</a></li>
          <li><a href="#">Kitchen Appliances</a></li>
          <li><a href="#">Washing Machiines</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copy-right">Hope you enjoyed shopping with us!</div>
</footer>

<script src="/javascript/js/vendor/jquery-3.4.1.min.js"></script> 
<script src="/javascript/js/plugins.js"></script> 
<script src="/javascript/js/jquery.datetimepicker.full.min.js"></script> 
<script src="/javascript/js/main.js"></script>

</body>
</html>