<footer>
  <div class="fromUs">
    <div class="custome-container">
      <div class="fr-Title">For any updates from us</div>
      <form action="/subscribers" method="POST">
      <div class="us-form">
        <label class="name"
          ><input
            style="color: black;"
            type="text"
            name="name"
            placeholder="Name..."
            required
          /><span class="error-msg">Enter Name</span></label
        >
        <label class="mb"
          ><input
            style="color: black;"
            type="email"
            name="email"
            placeholder="Email..."
            required
          /><span class="error-msg">Enter Mobile number</span></label
        >
        <!-- <div class="subscribe"><a href="/subscribers">Subscribe Now</a></div> -->
        <div class="subscribe"><button type="submit" style="background: #ffcb08;padding: 10px;border-radius: 1.7em;" >Subscribe Now</button></div>
      </div>
      </form>
    </div>
  </div>
  <div class="footer-main">
    <div class="custome-container">
      <div class="foot-box">
        <div class="f-heading">Television</div>
        <ul>
          <li><a href="/products/televisions#sonyTv">Sony</a></li>
          <li><a href="/products/televisions#samsungTv">Samsung</a></li>
          <li><a href="/products/televisions#miTv">Mi</a></li>
          <li><a href="/products/televisions#lgTv">LG</a></li>
          <li><a href="/products/televisions#onidaTv">ONIDA</a></li>
        </ul>
      </div>
      <div class="foot-box">
        <div class="f-heading">Mobiles</div>
        <ul>
          <li><a href="/products/mobiles#appleMobile">Apple</a></li>
          <li><a href="/products/mobiles#miMobile">Mi</a></li>
          <li><a href="/products/mobiles#samsungMobile">Samsung</a></li>
          <li><a href="/products/mobiles#oppoMobile">Oppo</a></li>
          <li><a href="/products/mobiles#vivoMobile">Vivo</a></li>
        </ul>
      </div>
      <div class="foot-box">
        <div class="f-heading">Laptops</div>
        <ul>
          <li><a href="/products/laptops#appleLaptop">Apple</a></li>
          <li><a href="/products/laptops#lenovoLaptop">Lenovo</a></li>
          <li><a href="/products/laptops#hpLaptop">Hp</a></li>
          <li><a href="/products/laptops#asusLaptop">ASUS</a></li>
          <li><a href="/products/laptops#dellLaptop">DELL</a></li>
        </ul>
      </div>
      <div class="foot-box">
        <div class="f-heading">Sound</div>
        <ul>
          <li><a href="/products/speaker-headphones#jblSound">JBL</a></li>
          <li><a href="/products/speaker-headphones#sonySound">Sony</a></li>
          <li><a href="/products/speaker-headphones#samsungSound">Samsung</a></li>
        </ul>
      </div>
      <div class="foot-box">
        <div class="f-heading">Refrigerators</div>
        <ul>
          <li><a href="/products/refrigerators#whirlpoolFridge">Whirlpool</a></li>
          <li><a href="/products/refrigerators#lgFridge">LG</a></li>
          <li><a href="/products/refrigerators#godrejFridge">Godrej</a></li>
          <li><a href="/products/refrigerators#samsungFridge">Samsung</a></li>
          <li><a href="/products/refrigerators#panasonicFridge">Panasonic</a></li>
        </ul>
      </div>

      <div class="foot-box">
        <div class="f-heading">Others</div>
        <ul>
          <li><a href="/products/acs">ACs</a></li>
          <li><a href="/products/cameras">Cameras</a></li>
          <!-- <li><a href="/products/kitchen-peripherals">Kitchen Appliances</a></li> -->
          <li><a href="/products/washing-machines">Washing Machiines</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copy-right">Hope you enjoyed shopping with us!</div>
</footer>

<!-- <script src="/javascript/js/vendor/jquery-3.4.1.min.js"></script>  -->
<script src="/javascript/js/plugins.js"></script> 
<script src="/javascript/js/jquery.datetimepicker.full.min.js"></script> 
<script src="/javascript/js/main.js"></script>

</body>
</html>