<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ecommerce</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="shortcut icon" href="javascript/img/favicon.png"> -->
    <link
      rel="stylesheet"
      href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <script src="/javascript/js/vendor/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/css/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/css/slick.css" />
    <link rel="stylesheet" href="/stylesheets/css/slick-theme.css" />
    <link rel="stylesheet" href="/stylesheets/css/jquery.datetimepicker.css" />
    <link rel="stylesheet" href="/stylesheets/css/easy-responsive-tabs.css" />
    <link
      rel="stylesheet"
      href="/stylesheets/css/jquery.mCustomScrollbar.css"
    />
    <link rel="stylesheet" href="/stylesheets/css/main.css" />
    <script src="/javascript/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="/javascript/js/vendor/respond.js"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script>
      $(document).ready(function() {
        $(".js-example-basic-single").select2();
      });
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header class="container-fluid no-padding nav-container desktop-header">
        <div class="first-band">
          <div class="custome-container">
            <div class="become-dealer">
              <a href="javascript:;"
                ><i class="fa fa-phone-square" aria-hidden="true"></i>
                9810-999-999</a
              >
            </div>
            <div class="right-nav">
              <ul>
                <li class="right-sub">
                  <p
                    ><i class="fa fa-at" aria-hidden="true"></i>
                    admin@ecommerce.com</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="second-band">
          <div class="custome-container">
            <div class="row">
              <div class="col-md-3 col-sm-4">
                <div class="logo">
                  <a href="/"
                    ><img src="/stylesheets/ecommerce-logo.jpg" alt="logo"
                  /></a>
                </div>
                <div class="select-lang"></div>
              </div>
              <div class="col-md-7">
                <form action="/search" method="POST">
                  <select
                    class="js-example-basic-single search-box"
                    name="product"
                    onchange="this.form.submit()"
                  >
                    <% allproducts.forEach(function(product) { %>
                    <option value="">Search...</option>
                    <option value="<%= product._id %>"
                      ><%= product.name %></option
                    >
                    <% }) %>
                  </select>
                </form>
                <!-- <input type="text" placeholder="Search..." class="search-box" /> -->
              </div>
              <div>
                <a
                  href="/users/cart"
                  class="btn btn-warning button-signin col-md-1"
                >
                  Cart
                </a>
              </div>
              <div>
                <a
                  href="/logout"
                  class="btn btn-warning button-signin col-md-1"
                >
                  Logout
                </a>
              </div>
            </div>
          </div>
        </div>
        <nav>
          <div class="custome-container">
            <ul>
              <li><a href="/">All</a></li>
              <li><a href="/products/televisions">Televisions</a></li>
              <li><a href="/products/refrigerators">Refrigerators</a></li>
              <li><a href="/products/acs">ACs</a></li>
              <li><a href="/products/laptops">Laptops</a></li>
              <li><a href="/products/mobiles">Mobiles</a></li>
              <li><a href="/products/cameras">Cameras</a></li>
              <li>
                <a href="/products/speaker-headphones">Speakers/Headphones</a>
              </li>
              <li><a href="/products/washing-machines">Washing Machines</a></li>
              <li>
                <!-- <a href="/products/kitchen-peripherals">Kitchen Peripherals</a> -->
              </li>
              <li><a href="/faqs">FAQs</a></li>
            </ul>
          </div>
        </nav>
      </header>
    </div>
  </body>
</html>
