<html class="no-js">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ecommerce</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="shortcut icon" href="javascript/img/favicon.png"> -->
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/css/normalize.css">
        <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/css/slick.css">
        <link rel="stylesheet" href="/stylesheets/css/slick-theme.css">
        <link rel="stylesheet" href="/stylesheets/css/jquery.datetimepicker.css">
        <link rel="stylesheet" href="/stylesheets/css/easy-responsive-tabs.css">
        <link rel="stylesheet" href="/stylesheets/css/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" href="/stylesheets/css/main.css">
        <link rel="stylesheet" href="/stylesheets/css/cartbutton.css">
        <script src="/javascript/js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="/javascript/js/vendor/respond.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- <style>
            body {
                background: #e3f02b;
                background: -webkit-linear-gradient(to right, #FFCB08, #FFCB08);
                background: linear-gradient(to right, #FFCB08,#FFCB08);
                min-height: 100vh;
            }
        </style> -->
    </head>
    <body>
            <div class="px-4 px-lg-0">
                <!-- For demo purpose -->
                <header class="container-fluid no-padding nav-container desktop-header">
                    <div class="first-band">
                            <div class="custome-container">
                                <div class="become-dealer"><a href="javascript:;"><span><i class="fa fa-user" ></i></span> Refer a Seller </a> 
                                <a href="javascript:;"><i class="fa fa-phone-square" aria-hidden="true"></i> 1800-000-000</a></div>
                                <div class="right-nav">
                                    <ul>
                                        <li class="right-sub"><a href="javascript:;">CONTACT US</a>
                                          <ul class="sub-link">
                                            <li><a href="javascript:;">Company Profile</a></li>
                                            <li><a href="javascript:;">Milestones</a></li>
                                            <li><a href="javascript:;">Awards and Accolades</a></li>
                                            <li><a href="javascript:;">Latest News</a></li>
                                          </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                    <div>
		        <div>
			        <div class="row">
				        <div class="col-md-3 col-sm-4">
                  <div class="logo">
                    <a href="#"><img src="javascript/img/ecommerce-logo.jpg" alt="logo"></a>
                  </div>
                  <div class="select-lang">
                  </div></div>
            <div class="col-md-7"></div>
            <div><button type="submit" class="btn btn-warning button-signin">Logout</button></div>
			</div>
			</div>
		</div>
                    <nav>
                        <div class="custome-container">
                            <ul>
                                <li><a href="#"><img src="javascript/img/home-icon.png" alt=""><span>Home</span></a></li>
                            </ul>
                        </div>
                    </nav>
                </header>
                <header class="mobile-header">
                    <div class="mb-first">
                        <div class="custome-container">
                            <div class="row">
                                <div class="col-md-6 col-xs-5">
                            <div class="logo"><a href="#"><img src="javascript/img/ecommerce-logo.jpg" alt="logo"></a></div></div>
                                <div class="col-md-3 col-xs-7"><div class="chooseBtn">HOME <label class="switch"><input type="checkbox"><span class="btnSlide round"></span></label>
                                    PROF</div> <div class="select-lang"><div class="languages"><a href="#" class="actv">A</a> <a href="#"><img src="javascript/img/aa.jpg" alt=""></a></div></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-nav">
                        <div class="custome-container">
                            <div id="nav-icon3">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                      </div>
                            </div>
                
                        <div class="cal icn-sprite"><a href="tel:123"></a></div>
                        <div class="search icn-sprite"><a href="javascript:;"></a></div>
                        <div class="book icn-sprite"><a href="javascript:;"></a></div>
                        <div class="screen icn-sprite"><a href="javascript:;"></a></div>
                    </div>
                    <div class="searchBox"><input type="text" placeholder="Search Tiles" class="search-box">
                        <div class="searchClose"><i class="fa fa-times" aria-hidden="true"></i></div>
                    </div>
                </header>
                <div class="main-content">
                    <div class="about-wrapper">
                        <div class="custome-container">
                        <!-- <div class="abt-main">
                        <div class="spotlight-image"><img src="javascript/img/ecommerce.jpg" alt="" height="275"></div>
                        <div class="spotlight-content"><div class="sp-head"><div class="main-head">Ecommerce</div><span>purchase your electronics</span></div></div>
                            </div> -->
                        
                        <div class="main">
                            <h1>Shopping cart</h1>
                            <h2 class="sub-heading">Free shipping from Rs100!</h2>
                          
                            <section class="shopping-cart">
                              <ol class="ui-list shopping-cart--list" id="shopping-cart--list">
                          
                                <script id="shopping-cart--list-item-template" type="text/template">
                                  <li class="_grid shopping-cart--list-item">
                                    <div class="_column product-image">
                                      <img class="product-image--img" src="{{=img}}" alt="Item image" />
                                    </div>
                                    <div class="_column product-info">
                                      <h4 class="product-name">{{=name}}</h4>
                                      <!-- <p class="product-desc">{{=desc}}</p> -->
                                      <div class="price product-single-price">Rs{{=price}}</div>
                                    </div>
                                    <div class="_column product-modifiers" data-product-price="{{=price}}">
                                      <div class="_grid">
                                        <button class="_btn _column product-subtract">&minus;</button>
                                        <div class="_column product-qty">0</div>
                                        <button class="_btn _column product-plus">&plus;</button>
                                      </div>
                                      <button class="_btn entypo-trash product-remove">Remove</button>
                                      <div class="price product-total-price">Rs0.00</div>
                                    </div>
                                  </li>
                                </script>
                          
                              </ol>
                          
                              <footer class="_grid cart-totals">
                                <div class="_column subtotal" id="subtotalCtr">
                                  <div class="cart-totals-key">Subtotal</div>
                                  <div class="cart-totals-value">Rs0.00</div>
                                </div>
                                <div class="_column shipping" id="shippingCtr">
                                  <div class="cart-totals-key">Shipping</div>
                                  <div class="cart-totals-value">Rs0.00</div>
                                </div>
                                <div class="_column taxes" id="taxesCtr">
                                  <div class="cart-totals-key">Taxes (6%)</div>
                                  <div class="cart-totals-value">Rs0.00</div>
                                </div>
                                <div class="_column total" id="totalCtr">
                                  <div class="cart-totals-key">Total</div>
                                  <div class="cart-totals-value">Rs0.00</div>
                                </div>
                                <div class="_column checkout">
                                    
                                  <button class="checkout-align">Checkout</button>
                                </div>
                              </footer>
                          
                            </section>
                          </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        <script src="/javascript/js/vendor/jquery-3.4.1.min.js"></script> 
        <script src="/javascript/js/plugins.js"></script> 
        <script src="/javascript/js/jquery.datetimepicker.full.min.js"></script> 
        <script src="/javascript/js/main.js"></script>
        <script src="/javascript/js/cartbutton.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>