<html class="no-js">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ecommerce</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="shortcut icon" href="javascript/img/favicon.png"> -->
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="stylesheets/css/normalize.css">
        <link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/css/slick.css">
        <link rel="stylesheet" href="stylesheets/css/slick-theme.css">
        <link rel="stylesheet" href="stylesheets/css/jquery.datetimepicker.css">
        <link rel="stylesheet" href="stylesheets/css/easy-responsive-tabs.css">
        <link rel="stylesheet" href="stylesheets/css/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" href="stylesheets/css/main.css">
        <link rel="stylesheet" href="stylesheets/css/cartbutton.css">
        <script src="javascript/js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="javascript/js/vendor/respond.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            body {
                background: #bdca04;
                background: -webkit-linear-gradient(to right, #fcb42e, rgb(240, 229, 167));
                background: linear-gradient(to right, #f8f40d, rgb(223, 157, 96));
                min-height: 100vh;
            }
        </style>
    </head>
    <body>
            <div class="px-4 px-lg-0">
                    <!-- For demo purpose -->
                <header class="container-fluid no-padding nav-container desktop-header">
                    <div class="first-band">
                            <div class="custome-container">
                                <div class="become-dealer"><a href="javascript:;"><span><i class="fa fa-user" ></i></span> Refer a Seller </a> 
                                <a href="javascript:;"><i class="fa fa-phone-square" aria-hidden="true"></i> 1800-000-000</a></div>
                                <div class="right-nav">
                                    <ul>
                                        <li class="right-sub"><a href="javascript:;">CONTACT US</a>
                                          <ul class="sub-link">
                                            <li><a href="javascript:;">Company Profile</a></li>
                                            <li><a href="javascript:;">Milestones</a></li>
                                            <li><a href="javascript:;">Awards and Accolades</a></li>
                                            <li><a href="javascript:;">Latest News</a></li>
                                          </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                    <div>
		        <div>
			        <div class="row">
				        <div class="col-md-3 col-sm-4">
                  <div class="logo">
                    <a href="#"><img src="javascript/img/ecommerce-logo.jpg" alt="logo"></a>
                  </div>
                  <div class="select-lang">
                  </div></div>
            <div class="col-md-7"></div>
            <div><button type="submit" class="btn btn-warning button-signin">SignIn</button></div>
			</div>
			</div>
		</div>
                    <nav>
                        <div class="custome-container">
                            <ul>
                                <li><a href="#"><img src="javascript/img/home-icon.png" alt=""><span>Home</span></a></li>
                            </ul>
                        </div>
                    </nav>
                </header>
                <header class="mobile-header">
                    <div class="mb-first">
                        <div class="custome-container">
                            <div class="row">
                                <div class="col-md-6 col-xs-5">
                            <div class="logo"><a href="#"><img src="javascript/img/ecommerce-logo.jpg" alt="logo"></a></div></div>
                                <div class="col-md-3 col-xs-7"><div class="chooseBtn">HOME <label class="switch"><input type="checkbox"><span class="btnSlide round"></span></label>
                                    PROF</div> <div class="select-lang"><div class="languages"><a href="#" class="actv">A</a> <a href="#"><img src="javascript/img/aa.jpg" alt=""></a></div></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-nav">
                        <div class="custome-container">
                            <div id="nav-icon3">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                      </div>
                            </div>
                
                        <div class="cal icn-sprite"><a href="tel:123"></a></div>
                        <div class="search icn-sprite"><a href="javascript:;"></a></div>
                        <div class="book icn-sprite"><a href="javascript:;"></a></div>
                        <div class="screen icn-sprite"><a href="javascript:;"></a></div>
                    </div>
                    <div class="searchBox"><input type="text" placeholder="Search Tiles" class="search-box">
                        <div class="searchClose"><i class="fa fa-times" aria-hidden="true"></i></div>
                    </div>
                </header>
                <div class="main-content">
                    <div class="about-wrapper">
                        <div class="custome-container">
                        <!-- <div class="abt-main">
                        <div class="spotlight-image"><img src="javascript/img/ecommerce.jpg" alt="" height="275"></div>
                        <div class="spotlight-content"><div class="sp-head"><div class="main-head">Ecommerce</div><span>purchase your electronics</span></div></div>
                            </div> -->
                        <div class="pb-5">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                
                                        <!-- Shopping cart table -->
                                        <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col" class="border-0 bg-light">
                                                <div class="p-2 px-3 text-uppercase">Product</div>
                                                </th>
                                                <th scope="col" class="border-0 bg-light">
                                                <div class="py-2 text-uppercase">Price</div>
                                                </th>
                                                <th scope="col" class="border-0 bg-light">
                                                <div class="py-2 text-uppercase">Quantity</div>
                                                </th>
                                                <th scope="col" class="border-0 bg-light">
                                                <div class="py-2 text-uppercase">Remove</div>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th scope="row" class="border-0">
                                                <div class="p-2">
                                                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-1_zrifhn.jpg" alt="" width="70" class="img-fluid rounded shadow-sm">
                                                    <div class="ml-3 d-inline-block align-middle">
                                                    <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">Timex Unisex Originals</a></h5><span class="text-muted font-weight-normal font-italic d-block">Category: Watches</span>
                                                    </div>
                                                </div>
                                                </th>
                                                <td class="border-0 align-middle"><strong>$79.00</strong></td>
                                                <td class="border-0 align-middle"><strong>
                                                        <div class="col col-qty layout-inline">
                                                                <a href="#" class="qty qty-minus">-</a>
                                                                  <input type="numeric" value="1" />
                                                                <a href="#" class="qty qty-plus">+</a>
                                                              </div>
                                                </strong></td>
                                                <td class="border-0 align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                <div class="p-2">
                                                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-3_cexmhn.jpg" alt="" width="70" class="img-fluid rounded shadow-sm">
                                                    <div class="ml-3 d-inline-block align-middle">
                                                    <h5 class="mb-0"><a href="#" class="text-dark d-inline-block">Lumix camera lense</a></h5><span class="text-muted font-weight-normal font-italic">Category: Electronics</span>
                                                    </div>
                                                </div>
                                                </th>
                                                <td class="align-middle"><strong>$79.00</strong></td>
                                                <td class="align-middle"><strong>
                                                        <div class="col col-qty layout-inline">
                                                                <a href="#" class="qty qty-minus">-</a>
                                                                  <input type="numeric" value="1" />
                                                                <a href="#" class="qty qty-plus">+</a>
                                                              </div>
                                                </strong></td>
                                                <td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                <div class="p-2">
                                                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-2_qxjis2.jpg" alt="" width="70" class="img-fluid rounded shadow-sm">
                                                    <div class="ml-3 d-inline-block align-middle">
                                                    <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block">Gray Nike running shoe</a></h5><span class="text-muted font-weight-normal font-italic">Category: Fashion</span>
                                                    </div>
                                                </div>
                                                <td class="align-middle"><strong>$79.00</strong></td>
                                                <td class="align-middle"><strong>
                                                        <div class="col col-qty layout-inline">
                                                                <a href="#" class="qty qty-minus">-</a>
                                                                  <input type="numeric" value="1" />
                                                                <a href="#" class="qty qty-plus">+</a>
                                                              </div>
                                                </strong></td>
                                                <td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        </div>
                                        <!-- End -->
                                    </div>
                                </div>
                
                                <div class="row py-5 p-4 bg-white rounded shadow-sm">
                                    <div class="col-lg-6">
                                        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Coupon code</div>
                                        <div class="p-4">
                                            <p class="font-italic mb-4">If you have a coupon code, please enter it in the box below</p>
                                            <div class="input-group mb-4 border rounded-pill p-2">
                                                <input type="text" placeholder="Apply coupon" aria-describedby="button-addon3" class="form-control border-0">
                                                <div class="input-group-append border-0">
                                                    <button id="button-addon3" type="button" class="btn btn-warning px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>Apply coupon</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Instructions for seller</div>
                                        <div class="p-4">
                                            <p class="font-italic mb-4">If you have some information for the seller you can leave them in the box below</p>
                                            <textarea name="" cols="30" rows="2" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
                                        <div class="p-4">
                                            <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
                                                <ul class="list-unstyled mb-4">
                                                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong>$390.00</strong></li>
                                                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping and handling</strong><strong>$10.00</strong></li>
                                                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong>$0.00</strong></li>
                                                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                                                    <h5 class="font-weight-bold">$400.00</h5>
                                                    </li>
                                                </ul><a href="#" class="btn btn-warning rounded-pill py-2 btn-block">Procceed to checkout</a>
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                        </div>
            </div>
            </div></div></div>
        <script src="javascript/js/vendor/jquery-3.4.1.min.js"></script> 
        <script src="javascript/js/plugins.js"></script> 
        <script src="javascript/js/jquery.datetimepicker.full.min.js"></script> 
        <script src="javascript/js/main.js"></script>
        <script src="javascript/js/cartbutton.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>