<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Ecommerce</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="shortcut icon" href="javascript/img/favicon.png"> -->
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="stylesheets/css/normalize.css">
<link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/css/slick.css">
<link rel="stylesheet" href="stylesheets/css/slick-theme.css">
<link rel="stylesheet" href="stylesheets/css/jquery.datetimepicker.css">
<link rel="stylesheet" href="stylesheets/css/easy-responsive-tabs.css">
<link rel="stylesheet" href="stylesheets/css/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="stylesheets/css/main.css">
<script src="javascript/js/vendor/modernizr-2.6.2.min.js"></script>
<script src="javascript/js/vendor/respond.js"></script>
</head>
<body>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]--> 
        
<!-- Add your site or application content here -->
<div class="wrapper">
	  <header class="container-fluid no-padding nav-container desktop-header">
		    <div class="first-band">
			      <div class="custome-container">
              <div class="become-dealer"><a href="javascript:;"><span><i class="fa fa-user" aria-hidden="true"></i></span> Refer a Seller </a> 
                <a href="javascript:;"><i class="fa fa-phone-square" aria-hidden="true"></i> 1800-000-000</a></div>
                <div class="right-nav">
                    <ul>
                        <li class="right-sub"><a href="javascript:;">CONTACT US</a>
                          <ul class="sub-link">
                            <li><a href="javascript:;">Company Profile</a></li>
                            <li><a href="javascript:;">Milestones</a></li>
                            <li><a href="javascript:;">Awards and Accolades</a></li>
                            <li><a href="javascript:;">Latest News</a></li>
                          </ul>
                        </li>
                    </ul>
                </div>
			        </div>
			        </div>
		        <div class="second-band">
		        <div class="custome-container">
			        <div class="row">
				        <div class="col-md-3 col-sm-4">
                  <div class="logo">
                    <a href="#"><img src="javascript/img/ecommerce-logo.jpg" alt="logo"></a>
                  </div>
                  <div class="select-lang">
                  </div></div>
				    <div class="col-md-7"><input type="text" placeholder="Search Tiles" class="search-box"></div>
			</div>
			</div>
		</div>
		<nav>
			<div class="custome-container">
		<ul>
      <li><a href="#">All</a></li>
			<li><a href="#">Television</a></li>
			<li><a href="#">Refrigerators</a></li>
      <li><a href="#">ACs</a></li>
      <li><a href="#">Laptops/Computers</a></li>
			<li><a href="#">Mobiles</a></li>
			<li><a href="#">Speakers/Headphones</a></li>
      <li><a href="#">Washing Machines</a></li>
      <li><a href="#">Kitchen Peripherals</a></li>
			<li><a href="#">Seasonal Appliances</a></li>
			<li><a href="#">FAQs</a></li>
			</ul>
				</div>
		</nav>
	</header>
	<header class="mobile-header">
		<div class="mb-first">
	<div class="custome-container">
			<div class="row">
				<div class="col-md-6 col-xs-5">
			<div class="logo"><a href="#"><img src="javascript/img/ecommerce-logo.jpg" alt="logo"></a></div></div>
				<div class="col-md-3 col-xs-7"><div class="chooseBtn">HOME <label class="switch"><input type="checkbox"><span class="btnSlide round"></span></label>
					PROF</div> <div class="select-lang"><div class="languages"><a href="#" class="actv">A</a> <a href="#"><img src="javascript/img/aa.jpg" alt=""></a></div></div></div>
			</div>
			</div>
			</div>
		<div class="mb-nav">
		<div class="custome-container">
			<div id="nav-icon3">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
      </div>
			</div>

			<div class="cal icn-sprite"><a href="tel:123"></a></div>
			<div class="search icn-sprite"><a href="javascript:;"></a></div>
			<div class="book icn-sprite"><a href="javascript:;"></a></div>
			<div class="screen icn-sprite"><a href="javascript:;"></a></div>
		</div>
		<div class="searchBox"><input type="text" placeholder="Search Tiles" class="search-box">
			<div class="searchClose"><i class="fa fa-times" aria-hidden="true"></i></div>
		</div>
	</header>
	<div class="main-content">
		<div class="about-wrapper">
	<div class="custome-container">
		<div class="abt-main">
		<div class="spotlight-image"><img src="javascript/img/ecommerce.jpg" alt="" height="275"></div>
		<div class="spotlight-content"><div class="sp-head"><div class="main-head">Ecommerce</div><span>purchase your electronics</span></div></div>
			</div>
		<div class="abt-content">
					<div class="bread-crumb">
		<span><a href="index.html"><img src="javascript/img/home-icon.png" alt="">Home</a></span><span>FAQs</span>
		</div>
		
			</div>
			
			<div class="downlodWrapper">
				<div class="downloadButton">
          <!-- Add product Start here -->
					<ul>
						<li><a class="active" href="javascript:;">All</a></li>
						<li><a href="javascript:;">-----</a></li>
						<li><a href="javascript:;">-----</a></li>
						<li><a href="javascript:;">-----</a></li>
					</ul>
				</div>
				<div class="faqWrapper">
                        <div class="faqHeading">FAQ’S</div>
                        <div class="faqPara">frequently asked questions</div>
                        <div class="faqWrap lessfaq">
                            <div class="faqHead active">HOW CAN I CHANGE MY SHIPPING ADDRESS?</div>
                            <div class="faqContant" style="display: block;">The instructions to activate your account will be sent to your email once you have submitted the registration form. If you did not receive this email, your email service provider’s mailing software may be blocking it.
                                 You can try checking your junk / spam folder or contact us at help@samplestore.com</div>
                        </div>
                        <div class="faqWrap lessfaq">
                                <div class="faqHead">HOW DO I ACTIVATE MY ACCOUNT?</div>
                                <div class="faqContant">Many desktop publishing packages and web page editors now use Lorem Ipsum model text, 
                                    and a search for 'lorem ipsum' will uncover many web sites still in Various versions have evolved over the years</div>
                        </div>
                        <div class="faqWrap lessfaq">
                                <div class="faqHead">WHY IS THERE A CHECKOUT LIMIT? / WHAT ARE ALL THE CHECKOUT LIMITS?</div>
                                <div class="faqContant">Sample Store is a popular spot and gets lots of shoppers at a time. These limits are in place to make sure everyone has a good time trying and purchasing their products. So...

                                        - Each member is entitled to only one (1) sample order every day.
                                        
                                        - Each member is entitled to one (1) bundle of sample for each product.
                                        
                                        - Your account must have sufficient points before you can checkout the sample products.
                                        
                                        - Kindly clear all pending payments before another checkout.</div>
                        </div>
                        <div class="faqWrap lessfaq">
                                <div class="faqHead">HOW CAN I TRACK MY ORDERS & PAYMENT?</div>
                                <div class="faqContant">After logging into your account, the status of your checkout history can be found under Order History. 
                                    For orders via registered postage, a tracking number (article tracking number) 
                                    will be given to you after the receipt given from Singapore Post Limited (SingPost).</div>
                        </div>
                        <div class="faqWrap lessfaq">
                                <div class="faqHead">HOW DO I CANCEL MY ORDERS BEFORE I MAKE A PAYMENT?</div>
                                <div class="faqContant">After logging into your account, go to your Shopping Cart. 
                                    Here, you will be able to make payment or cancel your order. 
                                    Note: We cannot give refunds once payment is verified.</div>
                        </div>
                        <div class="faqWrap lessfaq">
                                <div class="faqHead">HOW LONG WILL IT TAKE FOR MY ORDER TO ARRIVE AFTER I MAKE PAYMENT?</div>
                                <div class="faqContant">Members who ship their orders within Singapore should expect to receive their orders within five (5) to ten (10) working days upon payment verification depending on the volume of orders received.
                                     If you experience delays in receiving your order, contact us immediately and we will help to confirm the status of your order.</div>
                        </div>
                        <div class="faqWrap lessfaq">
                                <div class="faqHead">WHAT IS THE ACCUMULATED DELIVERY FEE FOR? HOW MUCH IS THE HANDLING FEE?</div>
                                <div class="faqContant">The flat-rate handling fee is S$5.99 and it is only applicable to normal samples. For free samples, they are fully paid for and there are no additional charges to deliver the free samples.
                                        Handling fee covers the delivery, material, labour and logistics cost to support the sampling service. You can redeem up to 4 different samples in each checkout and it is likely that you will find samples bundle with larger supply (up to 1-week supply) on Samplestore.com.</div>
                        </div>

                        <div class="faqWrap lessfaq">
                                <div class="faqHead">WHAT ARE THE PAYMENT METHODS AVAILABLE?</div>
                                <div class="faqContant">At the moment, we only accept Credit/Debit cards and Paypal payments.</div>
                        </div>
                        <div class="faqWrap lessfaq">
                                <div class="faqHead">WHY MUST I MAKE PAYMENT IMMEDIATELY AT CHECKOUT?</div>
                                <div class="faqContant">We are in the process of removing the option to pay for your orders by ‘Account Credits’. If you have remaining credits in your account, it will be used to pay for your next checkout. If there are insufficient credits, the system will direct you automatically to pay the balance via Paypal.</div>
                        </div>
                        <div class="faqWrap lessfaq">
                                <div class="faqHead">WHY MUST I MAKE PAYMENT IMMEDIATELY AT CHECKOUT?</div>
                                <div class="faqContant">Sample ordering is on ‘first-come-first-served’ basis. To ensure that you get your desired samples, it is recommended that you make your payment within 60 minutes of checking out.</div>
                        </div>
                        <div class="faqWrap lessfaq">
                                <div class="faqHead">WHAT HAPPENS IN THE EVENT OF UNSATISFACTORY/EXPIRED/WRONG SAMPLE/MISSING PRODUCT?</div>
                                <div class="faqContant">We take such matters very seriously and will look into individual cases thoroughly. Any sample that falls under the below categories should not be thrown away before taking photo proof and emailing the photo of the affected sample and your D.O (Delivery Order) to us at help@samplestore.com (if applicable).

                                        We regret to inform you that no refunds will be given for orders that fall under the below categories.
                                        
                                        1. In the event that the sample you've received is unsatisfactory in any way you perceive, we will require photo proof of the sample and your D.O (Delivery Order) as well and you may be required to send us back the sample for close inspection and review before a decision is made to re-send a sample to you at no cost, subject to availability. The postage cost will be credited back to your account after we receive the returned item.
                                        
                                        2. In the event that you receive an expired product, we will require clear photo proof of the sample and its expiry date for close inspection and review before a decision is made to re-send a sample to you at no cost, subject to availability.
                                        
                                        3. In the event that you've received the wrong sample, we will require photo proof of the wrongly sent sample and D.O (Delivery Order) and after reviewing, we'll re-send the correct sample to you at no cost, subject to availability.
                                        
                                        4. In the event you've received your order with a missing sample, we will require you to email us a clear photo proof of your D.O (Delivery Order) to help@samplestore.com and after which, kindly give us a call at (+65) 68440092 and our customer service officer will attend to you to find out more before a decision is made to re-send the missing sample to you at no cost, subject to availability.</div>
                        </div>
                        
                        
                    </div>
			</div>
			
		</div>
		</div>
	</div>
		</div>
	<footer>
		<div class="fromUs">
		  <div class="custome-container">
			  <div class="fr-Title">Ask Questions from us</div>	
			  <div class="us-form">
			    <label class="name"><input type="text" onfocus="this.value == this.defaultValue ? this.value = '' : ''"
          onblur="this.value == ''? this.value =this.defaultValue : ''" value="Mobile Number"><span class="error-msg" >Enter your Question!</span></label>
				  <label class="mb"><input type="text" onfocus="this.value == this.defaultValue ? this.value = '' : ''"
          onblur="this.value == ''? this.value =this.defaultValue : ''" value="Write Your Question Here!!"><span class="error-msg">Enter Mobile number</span></label>
				  <div class="subscribe"><a href="#">Ask Now</a></div>
			  </div>
			</div>
		</div>
		<div class="footer-main">
			<div class="custome-container">
		    <div class="foot-box">
			    <div class="f-heading"><a href="javascript:;">Television</a></div>
			      <ul>
              <li><a href="#">Sony</a></li>
              <li><a href="#">Samsung</a></li>
              <li><a href="#">Mi</a></li>
              <li><a href="#">LG</a></li>
              <li><a href="#">ONIDA</a></li>
			      </ul>
			  </div>
		  	<div class="foot-box">
			    <div class="f-heading"><a href="javascript:;">Mobiles</a></div>
			      <ul>
              <li><a href="#">Apple</a></li>
              <li><a href="#">Mi</a></li>
              <li><a href="#">Nokia</a></li>
              <li><a href="#">Samsung</a></li>
              <li><a href="#">Motorola</a></li>
              <li><a href="#">realme</a></li>
              <li><a href="#">Vivo</a></li>
              <li><a href="#">oppo</a></li>
			      </ul>
			  </div>
			  <div class="foot-box">
			    <div class="f-heading"><a href="javascript:;">Laptops</a></div>
			      <ul>
              <li><a href="#">Apple</a></li>
              <li><a href="#">Lenovo</a></li>
              <li><a href="#">hp</a></li>
              <li><a href="#">ASUS</a></li>
              <li><a href="#">DELL</a></li>
              <li><a href="#">msi</a></li>
			      </ul>
			  </div>
			<div class="foot-box">
			  <div class="f-heading"><a href="javascript:;">Sound</a></div>
			    <ul>
            <li><a href="#">JPL</a></li>
            <li><a href="#">Sony</a></li>
            <li><a href="#">Philips</a></li>
            <li><a href="#">mi</a></li>
            <li><a href="#">LG</a></li>
            <li><a href="#">Boat</a></li>
            <li><a href="#">Intex</a></li>
            <li><a href="#">Panasonic</a></li>
			    </ul>
			</div>
			<div class="foot-box">
			  <div class="f-heading"><a href="javascript:;">Refrigerators</a></div>
			  <ul>
            <li><a href="#">Whirlpool</a></li>
            <li><a href="#">LG</a></li>
            <li><a href="#">Godrej</a></li>
            <li><a href="#">Samsung</a></li>
            <li><a href="#">BOSCH</a></li>
            <li><a href="#">Haier</a></li>
            <li><a href="#">Panasonic</a></li>
			  </ul>
			</div>
			<div class="foot-box">
			  <div class="f-heading"><a href="javascript:;">OTHERS</a></div>
			    <ul>
			      <li><a href="#">ACs</a></li>
            <li><a href="#">Cameras</a></li>
            <li><a href="#">Computer Peripherals</a></li>
            <li><a href="#">Kitchen Appliances</a></li>
            <li><a href="#">Washing Machiines</a></li>
            <li><a href="#">Seasonal Appliances</a></li>
			    </ul>
			</div>
		  </div>
		</div>
		<div class="copy-right">Hope you enjoyed shopping with us!</div>
	</footer>
<script src="javascript/js/vendor/jquery-3.4.1.min.js"></script> 
<script src="javascript/js/plugins.js"></script> 
<script src="javascript/js/jquery.datetimepicker.full.min.js"></script> 
<script src="javascript/js/main.js"></script>
<script>

        //sccordion script
        $(".faqWrap  .faqHead").click(function () {
            
               $(this).next(".faqContant").slideToggle().parent().siblings().find(".faqContant:visible").slideUp();
               $(this).toggleClass("active");
               $(this).parent().siblings().find(".faqHead").removeClass("active");
       });
           </script>
</body>
</html>
