<%- include('partials/header') %>
<div class="main-content">
  <div class="about-wrapper">
    <div class="custome-container">
      <div class="abt-main">
        <div class="spotlight-image">
          <img src="javascript/img/ecommerce.jpg" alt="" height="275" />
        </div>
        <div class="spotlight-content">
          <div class="sp-head">
            <div class="main-head">Ecommerce</div>
            <span>purchase your electronics</span>
          </div>
        </div>
      </div>

      <div class="downlodWrapper">
        <!-- Add product Start here -->
        <div class="downloadTab">
          <ul>
            <li>
              <img src="javascript/img/dummy.jpg" alt="" />
              <div class="imgText">
                <div class="imgtextHead">Product 1</div>
                <div class="imgtextRow">
                  <div class="rowView">
                    <button class="btn btn-default">
                      <a href="javascript:;"
                        >View
                        <span><i class="fa fa-eye" aria-hidden="true"></i></span
                      ></a>
                    </button>
                  </div>
                  <div class="rowDownload">
                    <button class="btn btn-default">
                      <a href="javascript:;"
                        >Add to cart
                        <span
                          ><i
                            class="fa fa-shopping-cart"
                            aria-hidden="true"
                          ></i></span
                      ></a>
                    </button>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <img src="javascript/img/dummy.jpg" alt="" />
              <div class="imgText">
                <div class="imgtextHead">Product 2</div>
                <div class="imgtextRow">
                  <div class="rowView">
                    <button class="btn btn-default">
                      <a href="javascript:;"
                        >View
                        <span><i class="fa fa-eye" aria-hidden="true"></i></span
                      ></a>
                    </button>
                  </div>
                  <div class="rowDownload">
                    <button class="btn btn-default">
                      <a href="javascript:;"
                        >Add to cart
                        <span
                          ><i
                            class="fa fa-shopping-cart"
                            aria-hidden="true"
                          ></i></span
                      ></a>
                    </button>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <img src="javascript/img/dummy.jpg" alt="" />
              <div class="imgText">
                <div class="imgtextHead">Product 2</div>
                <div class="imgtextRow">
                  <div class="rowView">
                    <button class="btn btn-default">
                      <a href="javascript:;"
                        >View
                        <span><i class="fa fa-eye" aria-hidden="true"></i></span
                      ></a>
                    </button>
                  </div>
                  <div class="rowDownload">
                    <button class="btn btn-default">
                      <a href="javascript:;"
                        >Add to cart
                        <span
                          ><i
                            class="fa fa-shopping-cart"
                            aria-hidden="true"
                          ></i></span
                      ></a>
                    </button>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <img src="javascript/img/dummy.jpg" alt="" />
              <div class="imgText">
                <div class="imgtextHead">Product 2</div>
                <div class="imgtextRow">
                  <div class="rowView">
                    <button class="btn btn-default">
                      <a href="javascript:;"
                        >View
                        <span><i class="fa fa-eye" aria-hidden="true"></i></span
                      ></a>
                    </button>
                  </div>
                  <div class="rowDownload">
                    <button class="btn btn-default">
                      <a href="javascript:;"
                        >Add to cart
                        <span
                          ><i
                            class="fa fa-shopping-cart"
                            aria-hidden="true"
                          ></i></span
                      ></a>
                    </button>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <img src="javascript/img/dummy.jpg" alt="" />
              <div class="imgText">
                <div class="imgtextHead">Product 2</div>
                <div class="imgtextRow">
                  <div class="rowView">
                    <button class="btn btn-default">
                      <a href="javascript:;"
                        >View
                        <span><i class="fa fa-eye" aria-hidden="true"></i></span
                      ></a>
                    </button>
                  </div>
                  <div class="rowDownload">
                    <button class="btn btn-default">
                      <a href="javascript:;"
                        >Add to cart
                        <span
                          ><i
                            class="fa fa-shopping-cart"
                            aria-hidden="true"
                          ></i></span
                      ></a>
                    </button>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <img src="javascript/img/dummy.jpg" alt="" />
              <div class="imgText">
                <div class="imgtextHead">Product 2</div>
                <div class="imgtextRow">
                  <div class="rowView">
                    <button class="btn btn-default">
                      <a href="javascript:;"
                        >View
                        <span><i class="fa fa-eye" aria-hidden="true"></i></span
                      ></a>
                    </button>
                  </div>
                  <div class="rowDownload">
                    <button class="btn btn-default">
                      <a href="javascript:;"
                        >Add to cart
                        <span
                          ><i
                            class="fa fa-shopping-cart"
                            aria-hidden="true"
                          ></i></span
                      ></a>
                    </button>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <img src="javascript/img/dummy.jpg" alt="" />
              <div class="imgText">
                <div class="imgtextHead">Product 2</div>
                <div class="imgtextRow">
                  <div class="rowView">
                    <button class="btn btn-default">
                      <a href="javascript:;"
                        >View
                        <span><i class="fa fa-eye" aria-hidden="true"></i></span
                      ></a>
                    </button>
                  </div>
                  <div class="rowDownload">
                    <button class="btn btn-default">
                      <a href="javascript:;"
                        >Add to cart
                        <span
                          ><i
                            class="fa fa-shopping-cart"
                            aria-hidden="true"
                          ></i></span
                      ></a>
                    </button>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <img src="javascript/img/dummy.jpg" alt="" />
              <div class="imgText">
                <div class="imgtextHead">Product 2</div>
                <div class="imgtextRow">
                  <div class="rowView">
                    <button class="btn btn-default">
                      <a href="javascript:;"
                        >View
                        <span><i class="fa fa-eye" aria-hidden="true"></i></span
                      ></a>
                    </button>
                  </div>
                  <div class="rowDownload">
                    <button class="btn btn-default">
                      <a href="javascript:;"
                        >Add to cart
                        <span
                          ><i
                            class="fa fa-shopping-cart"
                            aria-hidden="true"
                          ></i></span
                      ></a>
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <!-- Add product End here -->
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>
</div>
