<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Ecommerce</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="shortcut icon" href="javascript/img/favicon.png"> -->
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="stylesheets/css/normalize.css">
<link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/css/slick.css">
<link rel="stylesheet" href="stylesheets/css/slick-theme.css">
<link rel="stylesheet" href="stylesheets/css/jquery.datetimepicker.css">
<link rel="stylesheet" href="stylesheets/css/easy-responsive-tabs.css">
<link rel="stylesheet" href="stylesheets/css/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="stylesheets/css/main.css">
<script src="javascript/js/vendor/modernizr-2.6.2.min.js"></script>
<script src="javascript/js/vendor/respond.js"></script>
</head>
<body>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]--> 
        
<!-- Add your site or application content here -->
<div class="wrapper">
	  <header class="container-fluid no-padding nav-container desktop-header">
		    <div class="first-band">
			      <div class="custome-container">
              <div class="become-dealer"><a href="javascript:;"><span><i class="fa fa-user" aria-hidden="true"></i></span> Refer a Seller </a> 
                <a href="javascript:;"><i class="fa fa-phone-square" aria-hidden="true"></i> 1800-000-000</a></div>
                <div class="right-nav">
                    <ul>
                        <li class="right-sub"><a href="javascript:;">CONTACT US</a>
                          <ul class="sub-link">
                            <li><a href="javascript:;">Company Profile</a></li>
                            <li><a href="javascript:;">Milestones</a></li>
                            <li><a href="javascript:;">Awards and Accolades</a></li>
                            <li><a href="javascript:;">Latest News</a></li>
                          </ul>
                        </li>
                    </ul>
                </div>
			        </div>
			        </div>
		        <div class="second-band">
		        <div class="custome-container">
			        <div class="row">
				        <div class="col-md-3 col-sm-4">
                  <div class="logo">
                    <a href="#"><img src="javascript/img/ecommerce-logo.jpg" alt="logo"></a>
                  </div>
                  <div class="select-lang">
                  </div></div>
            <div class="col-md-7"><input type="text" placeholder="Search Tiles" class="search-box"></div>
            <div><button type="submit" class="btn btn-warning button-signin col-md-1">SignIn</button></div>
			</div>
			</div>
		</div>
		<nav>
			<div class="custome-container">
                <ul>
                    <li><a href="#">All</a></li>
                    <li><a href="#">Television</a></li>
                    <li><a href="#">Refrigerators</a></li>
                    <li><a href="#">ACs</a></li>
                    <li><a href="#">Laptops/Computers</a></li>
                    <li><a href="#">Mobiles</a></li>
                    <li><a href="#">Speakers/Headphones</a></li>
                    <li><a href="#">Washing Machines</a></li>
                    <li><a href="#">Kitchen Peripherals</a></li>
                    <li><a href="#">Seasonal Appliances</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
			</div>
		</nav>
	</header>
	<header class="mobile-header">
		<div class="mb-first">
	<div class="custome-container">
			<div class="row">
				<div class="col-md-6 col-xs-5">
			<div class="logo"><a href="#"><img src="javascript/img/ecommerce-logo.jpg" alt="logo"></a></div></div>
				<div class="col-md-3 col-xs-7"><div class="chooseBtn">HOME <label class="switch"><input type="checkbox"><span class="btnSlide round"></span></label>
					PROF</div> <div class="select-lang"><div class="languages"><a href="#" class="actv">A</a> <a href="#"><img src="javascript/img/aa.jpg" alt=""></a></div></div></div>
			</div>
			</div>
			</div>
		<div class="searchBox"><input type="text" placeholder="Search Product" class="search-box">
			<div class="searchClose"><i class="fa fa-times" aria-hidden="true"></i></div>
		</div>
	</header>
	<div class="main-content">
		<div class="about-wrapper">
	        <div class="custome-container">
		        <div class="abt-main">
		            <div class="spotlight-image"><img src="javascript/img/ecommerce.jpg" alt="" height="275"></div>
		            <div class="spotlight-content"><div class="sp-head"><div class="main-head">Ecommerce</div><span>purchase your electronics</span></div></div>
			    </div>
		        <div class="abt-content">
					<div class="bread-crumb">
		                <span><a href="index.html"><img src="javascript/img/home-icon.png" alt="">Home</a></span>
                    </div>
			    </div>
                <div class="">
                    <div>
                        <hr>
                    </div>
                    <div class="about-wrapper">
                        <div class="custome-container">                                     
                            <div class="listingWrapper">
                                <div class="listingrightWrap">
                                    <div class="tagCloud">
                                        <div class="tagcloudHead">Rs 55,000</div>
                                        <div class="expertButton"><a href="javascript:;">Buy Now</a></div>   
                                    </div>
                                    <div class="listingSearch">
                                        <div class="searchWrap">Have a Promocode ?</div>
                                        <div class="inputWrap"><input type="text" placeholder="Enter here..."></div>
                                    </div>
                                </div>
                                <div class="listingDetail">
                                    <div class="detailImg"><img style="width:90%;height: 50%" src="javascript/img/dummy-tv-one.jpg" alt="" /></div>
                                    <div class="listingHead">Sony Bravia</div>
                                    <div class="listingContant">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</div>
                                    <div class="listingContant">OLED delivers unprecedented black, contrast and colour
                                                                Picture Processor X1™ Ultimate for unparalleled realism
                                                                Multi-dimensional sound from the screen with Acoustic Surface Audio+™
                                                                Find entertainment by voice with Android TV™</div>
                                    <!-- <div class="listingdetailButton">
                                        <div class="prevButton"><a href="javascript:;">Prev Post</a></div>
                                        <div class="nextButton"><a href="javascript:;">Next Post</a></div>
                                    </div> -->
                                    <div class="commentWrap">
                                        <div class="commentHead">2 Comments</div>
                                        <div class="commentRow">
                                            <div class="commentImg"><a href="javascript:;"><img src="javascript/img/comment-dummy.jpg" alt="" /></a></div>
                                                <div class="commentText">
                                                    <div class="commentName">Nikhil Arora</div>
                                                    <div class="commentDate">22 Nov,19 • Reply</div>
                                                    <div class="commentContant">I just loved the resolution and picture quality of the TV. But disappointed that you can not connect Bluetooth speakers to this TV. I talked to Sony customer care, they told I cannot connect Bluetooth speakers to this TV, Bluetooth is only for mic remote and keyboard of specific company specific model.</div>
                                                </div>
                                            </div>
                                            <div class="commentRow">
                                                <div class="commentImg"><a href="javascript:;"><img src="javascript/img/comment-dummy.jpg" alt="" /></a></div>
                                                <div class="commentText">
                                                    <div class="commentName">Avinash Boken</div>
                                                    <div class="commentDate">26 Nov,19 • Reply</div>
                                                    <div class="commentContant">I spent huge amount but no extra quality and picture and sound only name is Sony I am very unhappy my decision also I want return this TV but no response by Amazon one time send a technician for inspection of TV and he say I have no any equipment for check problema and right Amazon TV is ok again Amazon send to technician but not come my house and write to Amazon TV so I am very unhappy so please anyone purchase LED TV from open market.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="addcommentWrap">
                                            <div class="addcommentHead">Add comment</div>
                                            <div class="commentForm">
                                                <div class="commentInput">
                                                    <label class="comment-sec-form-filed"><input type="text" placeholder="Title..."></label>
                                                </div>
                                                <div class="commentTextarea">
                                                    <label class="comment-sec-form-filed"><textarea placeholder="Message"></textarea></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="buttonWrap"><a href="javascript:;">Submit</a></div>
                                    </div>
                                
                            </div>
                            </div>
                        </div>
                            </div>




            <footer>
                    <div class="fromUs">
                      <div class="custome-container">
                          <div class="fr-Title">For any updates from us</div>	
                          <div class="us-form">
                            <label class="name"><input type="text" onfocus="this.value == this.defaultValue ? this.value = '' : ''"
                      onblur="this.value == ''? this.value =this.defaultValue : ''" value="Name"><span class="error-msg" >Enter Name</span></label>
                              <label class="mb"><input type="text" onfocus="this.value == this.defaultValue ? this.value = '' : ''"
                      onblur="this.value == ''? this.value =this.defaultValue : ''" value="Mobile number"><span class="error-msg">Enter Mobile number</span></label>
                              <div class="subscribe"><a href="#">Subscribe Now</a></div>
                          </div>
                        </div>
                    </div>
                    <div class="footer-main">
                        <div class="custome-container">
                        <div class="foot-box">
                            <div class="f-heading"><a href="javascript:;">Television</a></div>
                              <ul>
                          <li><a href="#">Sony</a></li>
                          <li><a href="#">Samsung</a></li>
                          <li><a href="#">Mi</a></li>
                          <li><a href="#">LG</a></li>
                          <li><a href="#">ONIDA</a></li>
                              </ul>
                          </div>
                          <div class="foot-box">
                            <div class="f-heading"><a href="javascript:;">Mobiles</a></div>
                              <ul>
                          <li><a href="#">Apple</a></li>
                          <li><a href="#">Mi</a></li>
                          <li><a href="#">Nokia</a></li>
                          <li><a href="#">Samsung</a></li>
                          <li><a href="#">Motorola</a></li>
                          <li><a href="#">realme</a></li>
                          <li><a href="#">Vivo</a></li>
                          <li><a href="#">oppo</a></li>
                              </ul>
                          </div>
                          <div class="foot-box">
                            <div class="f-heading"><a href="javascript:;">Laptops</a></div>
                              <ul>
                          <li><a href="#">Apple</a></li>
                          <li><a href="#">Lenovo</a></li>
                          <li><a href="#">hp</a></li>
                          <li><a href="#">ASUS</a></li>
                          <li><a href="#">DELL</a></li>
                          <li><a href="#">msi</a></li>
                              </ul>
                          </div>
                        <div class="foot-box">
                          <div class="f-heading"><a href="javascript:;">Sound</a></div>
                            <ul>
                        <li><a href="#">JPL</a></li>
                        <li><a href="#">Sony</a></li>
                        <li><a href="#">Philips</a></li>
                        <li><a href="#">mi</a></li>
                        <li><a href="#">LG</a></li>
                        <li><a href="#">Boat</a></li>
                        <li><a href="#">Intex</a></li>
                        <li><a href="#">Panasonic</a></li>
                            </ul>
                        </div>
                        <div class="foot-box">
                          <div class="f-heading"><a href="javascript:;">Refrigerators</a></div>
                          <ul>
                        <li><a href="#">Whirlpool</a></li>
                        <li><a href="#">LG</a></li>
                        <li><a href="#">Godrej</a></li>
                        <li><a href="#">Samsung</a></li>
                        <li><a href="#">BOSCH</a></li>
                        <li><a href="#">Haier</a></li>
                        <li><a href="#">Panasonic</a></li>
                          </ul>
                        </div>
                        <div class="foot-box">
                          <div class="f-heading"><a href="javascript:;">OTHERS</a></div>
                            <ul>
                              <li><a href="#">ACs</a></li>
                        <li><a href="#">Cameras</a></li>
                        <li><a href="#">Computer Peripherals</a></li>
                        <li><a href="#">Kitchen Appliances</a></li>
                        <li><a href="#">Washing Machiines</a></li>
                        <li><a href="#">Seasonal Appliances</a></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div class="copy-right">Hope you enjoyed shopping with us!</div>
                </footer>
            <script src="javascript/js/vendor/jquery-3.4.1.min.js"></script> 
            <script src="javascript/js/plugins.js"></script> 
            <script src="javascript/js/jquery.datetimepicker.full.min.js"></script> 
            <script src="javascript/js/main.js"></script>
            
            </body>
            </html>