<html>
  <head>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/stylesheets/css/normalize.css">
      <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/css/slick.css">
      <link rel="stylesheet" href="/stylesheets/css/slick-theme.css">
      <link rel="stylesheet" href="/stylesheets/css/jquery.datetimepicker.css">
      <link rel="stylesheet" href="/stylesheets/css/easy-responsive-tabs.css">
      <link rel="stylesheet" href="/stylesheets/css/jquery.mCustomScrollbar.css">
      <link rel="stylesheet" href="/stylesheets/css/main.css">
      <script src="/javascript/js/vendor/modernizr-2.6.2.min.js"></script>
      <script src="/javascript/js/vendor/respond.js"></script>

      <link rel="stylesheet" href="/stylesheets/login.css">
      <style>
          body {
              background: #bdca04;
              background: -webkit-linear-gradient(to right, #bda881, rgb(233, 199, 7));
              background: linear-gradient(to right, #ecea68, rgb(8, 165, 105));
              min-height: 100vh;
          }
      </style>
  </head>
  <body>
      <header>
          <div class="first-band">
              <div class="custome-container">
                      <div class="become-dealer"><a href="javascript:;"><span></i></span></a> 
                        </div>
                        
                  </div>
              </div>
          <div class="logo">
              <a href="/"><img src="/stylesheets/ecommerce-logo.jpg" alt="logo"></a>
          </div>
        </header>
          <!-- SignIn And register Form Section -->
          <div class="login-reg-panel">
              <div class="login-info-box">
                <h2>Have a user account?</h2>
                <p>LogIn here to purchase!</p>
                <label id="label-register" for="log-reg-show">LogIn As User</label>
                <input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
              </div>
                        
              <div class="register-info-box">
                <h2>Have an admin account?</h2>
                <p>LogIn here to sell!</p>
                <label id="label-login" for="log-login-show">LogIn As Admin</label>
                <input type="radio" name="active-log-panel" id="log-login-show">
              </div>
                        
              <div class="white-panel">
                <form action="/users/login" method="POST">
                <div class="login-show">
                  <h2>LOGIN AS USER</h2>
                  <input type="text" name="username" placeholder="Email">
                  <input type="password" name="password" placeholder="Password">
                  <input type="submit" value="Login">
                
                  <!-- <a href="">Forgot password?</a><br> -->
                  <a href="/signup">Not a user?</a>
                </div>
                </form>

                <form action="/admin/login" method="POST">
                <div class="register-show">
                  <h2>LOGIN AS ADMIN</h2>
                  <input type="text" name="username" placeholder="Email">
                  <input type="password" name="password" placeholder="Password">
                  <input type="submit" value="Login">
                </div>
                </form>
              </div>
            </div>
            
                <!-- <div class="footer-main">
                    <div class="custome-container">
                    <div class="foot-box">
                    </div>
                </div> -->

               
          

        <script src="/javascript/login.js"></script>
        <!-- <script src="javascript/js/vendor/jquery-3.4.1.min.js"></script> 
        <script src="javascript/js/plugins.js"></script> 
        <script src="javascript/js/jquery.datetimepicker.full.min.js"></script> 
        <script src="javascript/js/main.js"></script> -->
  </body>
</html>

    