<html class="no-js">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ecommerce</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="shortcut icon" href="javascript/img/favicon.png"> -->
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/css/normalize.css">
        <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/css/slick.css">
        <link rel="stylesheet" href="/stylesheets/css/slick-theme.css">
        <link rel="stylesheet" href="/stylesheets/css/jquery.datetimepicker.css">
        <link rel="stylesheet" href="/stylesheets/css/easy-responsive-tabs.css">
        <link rel="stylesheet" href="/stylesheets/css/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" href="/stylesheets/css/main.css">
        <link rel="stylesheet" href="/stylesheets/css/cartbutton.css">
        <script src="/javascript/js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="/javascript/js/vendor/respond.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
    <body>
            <div class="">
                <!-- For demo purpose -->
                <header class="container-fluid no-padding nav-container desktop-header">
                    <div class="first-band">
                            <div class="custome-container">
                                <div class="become-dealer"><a href="javascript:;"><span><i class="fa fa-user" ></i></span> Refer a Seller </a> 
                                <a href="javascript:;"><i class="fa fa-phone-square" aria-hidden="true"></i> 1800-000-000</a></div>
                                <div class="right-nav">
                                    <ul>
                                        <li class="right-sub"><a href="javascript:;">CONTACT US</a>
                                          <ul class="sub-link">
                                            <li><a href="javascript:;">Company Profile</a></li>
                                            <li><a href="javascript:;">Milestones</a></li>
                                            <li><a href="javascript:;">Awards and Accolades</a></li>
                                            <li><a href="javascript:;">Latest News</a></li>
                                          </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                    <div>
                        <div>
                            <div class="row">
                                <div class="col-md-3 col-sm-4">
                                    <div class="logo">
                                        <a href="#"><img src="javascript/img/ecommerce-logo.jpg" alt="logo"></a>
                                    </div>
                                </div>
                                <div class="col-md-7"></div>
                                <div class="col-sm-2"><button type="submit" class="btn btn-warning" style="margin-top: 8%; border-radius: 20px;">Logout</button></div>
                            </div>
                        </div>
                    </div>
                    <nav>
                        <div class="custome-container">
                            <ul>
                                <li><a href="#"><img src="javascript/img/home-icon.png" alt=""><span>Home</span></a></li>
                            </ul>
                        </div>
                    </nav>
                </header>
                <header class="mobile-header">
                    <div class="mb-first">
                        <div class="custome-container">
                            <div class="row">
                                <div class="col-md-6 col-xs-5">
                                <div class="logo"><a href="#"><img src="javascript/img/ecommerce-logo.jpg" alt="logo"></a></div></div>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            <div class="main-content">
                <div class="container">
                    <div>
                        <h1 style="color: rgb(3, 139, 3)">Your Order placed!!</h1>
                        <hr style="width:75%;"/>
                    </div>

                    <div class="card w-75">
                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <div class="col-md-3">
                                        <img src="/javascript/img/dummy.jpg" class="card-img" alt="item image" style="height: 150px; object-fit: scale-down;"/>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h5 class="card-title">Product 1</h5>
                                            <p class="card-text"><b>Quantiy : </b>3</p>
                                            <p class="card-text"><small class="text-muted">Item purchased</small></p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div style="padding-top: 51%; margin: 0px; text-align: right;">
                                            <h3  style="border: 2px solid gray; padding: 5px;">Price</h3>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3">
                                    <div class="row no-gutters">
                                        <div class="col-md-3">
                                            <img src="/javascript/img/dummy.jpg" class="card-img" alt="item image" style="height: 150px; object-fit: scale-down;"/>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <h5 class="card-title">Product 1</h5>
                                                <p class="card-text"><b>Quantiy : </b>3</p>
                                                <p class="card-text"><small class="text-muted">Item purchased</small></p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div style="padding-top: 51%; margin: 0px; text-align: right;">
                                                <h3  style="border: 2px solid gray; padding: 5px;">Price</h3>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3">
                                        <div class="row no-gutters">
                                            <div class="col-md-3">
                                                <img src="/javascript/img/image11.jpg" class="card-img" alt="item image" style="height: 150px; object-fit: scale-down;"/>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body">
                                                    <h5 class="card-title">Product 1</h5>
                                                    <p class="card-text"><b>Quantiy : </b>3</p>
                                                    <p class="card-text"><small class="text-muted">Item purchased</small></p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div style="padding-top: 51%; margin: 0px; text-align: right;">
                                                    <h3  style="border: 2px solid gray; padding: 5px;">Price</h3>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-3">
                                            <div class="row no-gutters">
                                                <div class="col-md-3">
                                                    <img src="/javascript/img/dummy.jpg" class="card-img" alt="item image" style="height: 150px; object-fit: scale-down;"/>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Product 1</h5>
                                                        <p class="card-text"><b>Quantiy : </b>3</p>
                                                        <p class="card-text"><small class="text-muted">Item purchased</small></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div style="padding-top: 51%; margin: 0px; text-align: right;">
                                                        <h3  style="border: 2px solid gray; padding: 5px;">Price</h3>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-3">
                                                <div class="row no-gutters">
                                                    <div class="col-md-3">
                                                        <img src="/javascript/img/image11.jpg" class="card-img" alt="item image" style="height: 150px; object-fit: scale-down;"/>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Product 1</h5>
                                                            <p class="card-text"><b>Quantiy : </b>3</p>
                                                            <p class="card-text"><small class="text-muted">Item purchased</small></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div style="padding-top: 51%; margin: 0px; text-align: right;">
                                                            <h3  style="border: 2px solid gray; padding: 5px;">Price</h3>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card mb-3">
                                                    <div class="row no-gutters">
                                                        <div class="col-md-3">
                                                            <img src="/javascript/img/dummy.jpg" class="card-img" alt="item image" style="height: 150px; object-fit: scale-down;"/>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Product 1</h5>
                                                                <p class="card-text"><b>Quantiy : </b>3</p>
                                                                <p class="card-text"><small class="text-muted">Item purchased</small></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div style="padding-top: 51%; margin: 0px; text-align: right;">
                                                                <h3  style="border: 2px solid gray; padding: 5px;">Price</h3>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                    </div>
                    
                    <div>
                            <hr style="width:75%; height: 10px;
                            border: 1;
                            box-shadow: inset 0 9px 9px -3px rgba(250, 225, 3, 0.918);
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -ms-border-radius: 5px;
                            -o-border-radius: 5px;
                            border-radius: 5px;"/>                          
                    </div>
                    <div style="margin-bottom: 10px; text-align:center" class="card w-75 row">
                            <div class="card mb-3 text-left">
                                    <div class="row no-gutters">
                                        <!-- <div class="col-md-3">
                                            <img src="/javascript/img/dummy.jpg" class="card-img" alt="item image" style="height: 150px; object-fit: scale-down;"/>
                                        </div> -->
                                        <div class="col-md-9">
                                            <div class="card-body">
                                                <h5 class="card-title">Product 1</h5>
                                                <p class="card-text"><b>Quantiy : </b>3</p>
                                                <p class="card-text"><small class="text-muted">Item purchased</small></p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div style="padding-top: 38%; margin: 0px; text-align: right;">
                                                <h3  style="border: 2px solid gray; padding: 5px;">Total Price</h3>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div style="margin: 30px 0px 40px 0px; text-align:center">
                            <button type="button" class="btn btn-lg btn-warning" 
                            style="height: 8%; width:24%; color: white; font-weight: bold;
                            ">Continue Shopping!</button>
                    </div>
                </div>
            </div>
    </body>
    </html>