table {
  border: 1px black solid;
  margin: 2%;
}

th,
td {
  border: 1px black solid;
  width: 2%;
  height: 5%;
}

th,
tr {
  text-align: center;
}

.img-view {
  height: 5%;
}

.btn-danger {
  width: 75%;
  margin-top: 10%;
}

.btn-success,
.btn-info {
  width: 75%;
}

.search-bar {
  display: flex;
  justify-content: space-between;
}

.search-form {
  margin: 1% 2% 0% 2%;
}
